html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-family: 'Roboto', sans-serif ;
}
/*Top-navegation stye*/
.top-navegation {
	background-color: white ;
	border-bottom: 0.07em solid gray ;
}
.top-navegation > .content {
	width: 60em ;
	height: 4.37em;
	margin: auto 0em ;
	background-color: white ;
	word-spacing: 1em;

}
.content > .logo {
	margin-left: 16em;
	height: 4.35em;
}
.top-navegation .links .active {
	color: #4c5058;
	font-weight: 500 ;
}
.top-navegation .links{
	float: right ;
	font-size: 1em ;
	color: #838994 ; 
	margin-top: 1.5em ;
	letter-spacing: 0.03em ;
	-webkit-font-smoothing: antialiased ;
}
.top-navegation .links li {
	display: inline-block;
	margin-left: 1.5em ;
	margin-top: 1.5em ;

}
.top-navegation .links li:hover {
	cursor: pointer;
	color: #333333;
}
/*Section 1 style*/
.introduction {
	background-image: url('../images/background.jpg');
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: cover;
	height: 46rem,
}
.introduction .content {
	margin:0 15em;
	text-align: center;
	padding: 5em 5em ; 
	color: white ; 
	font-weight: lighter;
}
button {
	background-color: #f15a29 ;
	border-color: #f15a29;
	width: 10rem; 
	color: white ;
	text-shadow: none;
	padding: 1em 1.5em;
	border-style: none;
	border-radius: .5em ;
	font-size: 1.2em ;
}
/*Section 2 style*/
.section2 {
	margin:0 15em;
	text-align: center;
	padding: 5em 5em ; 
	color: black; 
	font-weight: lighter;
	word-spacing: .05em ;

}
.section2 .options {
	padding-left: 1em ;
}