html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

/*Typography Design*/
.top-navegation {
	background-color: white ;
	border-bottom: 0.07em solid gray ;
	
	
}
.top-navegation > .content {
	width: 60em ;
	height: 4.37em;
	margin: auto 0em ;
	background-color: white ;
	word-spacing: 1em;

}
.content > .logo {
	margin-left: 16em;
	height: 4.35em;
}
.top-navegation .links .active {
	color: #4c5058;
	font-weight: 500 ;
}
.top-navegation .links{
	float: right ;
	font-family: 'Roboto', sans-serif ;
	font-size: 1em ;
	color: #838994 ; 
	margin-top: 1.5em ;
	letter-spacing: 0.03em ;
	-webkit-font-smoothing: antialiased ;
}
.top-navegation .links li {
	display: inline-block;
	margin-left: 1.5em ;
	margin-top: 1.5em ;

}
.top-navegation .links li:hover {
	cursor: pointer;
	color: #333333;
}
